### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
Java_lecture.iml
.idea/
/.metadata/
manageStudent4_Array_teacher/src/com/student/controller/StudentController.java
manageStudent4_Array_teacher/src/com/student/model/dao/StudentDao.java
manageStudent4_Array_teacher/src/com/student/model/dao/StudentDaoArr.java
manageStudent4_Array_teacher/src/com/student/model/vo/Student.java
manageStudent4_Array_teacher/src/com/student/run/Main.java
manageStudent4_Array_teacher/src/com/student/view/MainView.java
